<div class="row">
    <div class="col-md-3">
        <span class="logo-daily img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Breaking news</h1>

        <article class="forecast">
            <h1>Next broadcast schudle</h1>
            <article class="day-forecast">
                <h2>03 March 2018</h2>
                <p>09:00 am</p>
            </article>
            <article class="day-forecast">
                <h2>04 March 2018</h2>
                <p>6:00 pm</p>
            </article>
            <article class="day-forecast">
                <h2>05 March 2018</h2>
                <p>4:30 am</p>
            </article>
        </article>

    </div>
</div>
